# An√°lisis de los datasets

In [46]:
import pandas as pd

In [47]:
files_path = [
    '../downloads/disney_plus_titles.csv',
    '../downloads/netflix_titles.csv'
]

In [48]:
dfs = []

for index, file_path in enumerate(files_path):
    if index == 0:
        df = pd.read_csv(file_path, sep=',')
        platform = 'DP'
    else:
        df = pd.read_csv(file_path, sep=';')
        platform = 'N'

    df['platform'] = platform

    dfs.append(df)

In [37]:
dfs_concat = pd.concat([df for df in dfs], ignore_index=True)

In [38]:
dfs_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10259 entries, 0 to 10258
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       10259 non-null  object
 1   type          10258 non-null  object
 2   title         10257 non-null  object
 3   director      7150 non-null   object
 4   cast          9243 non-null   object
 5   country       9207 non-null   object
 6   date_added    10244 non-null  object
 7   release_year  10257 non-null  object
 8   rating        10250 non-null  object
 9   duration      10254 non-null  object
 10  listed_in     10256 non-null  object
 11  description   10256 non-null  object
 12  platform      10259 non-null  object
dtypes: object(13)
memory usage: 1.0+ MB

In [9]:
dfs_concat.isnull().sum()

show_id            0
type               1
title              2
director        3109
cast            1016
country         1052
date_added        15
release_year       2
rating             9
duration           5
listed_in          3
description        3
platform           0
dtype: int64

Como se puede observar el dataset presenta valores faltantes en determinados campos. La mayor cantidad se encuentra en los campos de "director", "cast" y "country".

In [10]:
dfs_concat.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
2781,s1332,TV Show,Five Came Back: The Reference Films,NaN,NaN,United States,"February 9, 2021",1945,TV-MA,1 Season,TV Shows,This collection includes 12 World War II-era p...,N
4586,s3137,Movie,Game,Abhinay Deo,"Abhishek Bachchan, Kangana Ranaut, Anupam Kher...",India,"December 15, 2019",2011,TV-14,135 min,"International Movies, Thrillers",A tycoon accuses three strangers of killing hi...,N
1193,s1194,Movie,Sister Act,Emile Ardolino,"Whoopi Goldberg, Maggie Smith, Harvey Keitel, ...",United States,"November 12, 2019",1992,PG,101 min,"Comedy, Crime, Family",A low-rent lounge singer is forced to hide out...,DP
3781,s2332,TV Show,Home Game,NaN,NaN,United States,"June 26, 2020",2020,TV-MA,1 Season,Docuseries,This docuseries profiles unique and dangerous ...,N
6198,s4749,Movie,The Mansion,Tony Datis,"Nathalie Odzierejko, Marc Jarousseau, Ludovik ...","France, Belgium","July 28, 2018",2017,TV-MA,100 min,"Comedies, Horror Movies, International Movies",A group of students celebrates New Year's at a...,N
2490,s1041,TV Show,Durarara!!,NaN,"Toshiyuki Toyonaga, Miyuki Sawashiro, Mamoru M...",Japan,"April 15, 2021",2016,TV-MA,1 Season,"Anime Series, Crime TV Shows, International TV...",A young man looking for excitement moves to Ik...,N
10025,s8574,Movie,Theo Who Lived,David Shisgall,NaN,United States,"December 16, 2016",2016,TV-14,86 min,Documentaries,American journalist Theo Padnos retraces the M...,N
2129,s680,TV Show,The Judgement,NaN,"Lapassalal Jiravechsoontornkul, Nontanun Anchu...",Thailand,"June 19, 2021",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",After a traumatic incident at a party makes he...,N
5295,s3846,TV Show,Cinta 100KG,NaN,"Sherry Alhadad, Sharifah Amani, Fezrul Khan, U...",NaN,"May 8, 2019",2016,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Two female friends, each with confidence issue...",N
4711,s3262,Movie,Suffragette,Sarah Gavron,"Carey Mulligan, Helena Bonham Carter, Brendan ...","United Kingdom, France","November 16, 2019",2015,PG-13,107 min,"Dramas, International Movies","At the beginning of the 20th century, circumst...",N

## Columna "type"

In [11]:
dfs_concat['type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10259 entries, 0 to 10258
Series name: type
Non-Null Count  Dtype
--------------  -----
10258 non-null  object
dtypes: object(1)
memory usage: 80.3+ KB

In [13]:
dfs_concat['type'].isnull().sum()

1

Se puede ver que presenta un valor faltante

In [14]:
dfs_concat['type'].value_counts()

Movie            7183
TV Show          3074
William Wyler       1
Name: type, dtype: int64

Se puede ver que presenta un valor err√≥neo ya que, "William Wyler" probablemente sea un nombre de persona. Los valores posibles para esta columna son dos: "Movie" y "TV Show".

Analizando los valores para el registro en cuesti√≥n:

In [15]:
dfs_concat[dfs_concat['type'] == 'William Wyler']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
9871,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN,N

Se puede observar que los valores del registro est√°n desviados y que los campos que presentan datos faltantes son los de "show_id" y "type", sin embargo, estos se pueden completar al analizar los registros antes y despu√©s para el caso del campo "show_id".

In [16]:
dfs_concat.filter(items=[9870, 9871, 9872], axis=0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
9870,s8420,Movie,The Memphis Belle: A Story of a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9871,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN,N
9872,s8421,Movie,The Men Who Stare at Goats,Grant Heslov,"George Clooney, Ewan McGregor, Jeff Bridges, K...","United States, United Kingdom","June 4, 2019",2009,R,94 min,Comedies,A journalist latches onto an unbelievable stor...,N

Viendo que la columna "show_id" se saltea la numeraci√≥n consecutiva, se tendr√≠a que generar nuevamente la numeraci√≥n al finalizar la limpieza de datos en caso de que se utilice. En este caso, para la posterior modelaci√≥n de los datos, esta columna no es relevante.

Para el campo "type", una posible soluci√≥n ser√≠a hacer una b√∫squeda en internet por el nombre de la pel√≠cula para completar la informaci√≥n.

A su vez, se observa la presencia de una doble comilla al final del t√≠tulo. Este tipo de situaciones en donde se presentan caracteres adicionales en lugares donde no deber√≠an estar, puede causar problemas por ejemplo, si se tiene que hacer alguna agrupaci√≥n por columna. Se podr√≠an utilizar expresiones regulares para filtrar los mismos.

## Columna "title"

In [17]:
dfs_concat['title'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10259 entries, 0 to 10258
Series name: title
Non-Null Count  Dtype
--------------  -----
10257 non-null  object
dtypes: object(1)
memory usage: 80.3+ KB

In [18]:
dfs_concat['title'].isnull().sum()

2

Se puede observar que presenta 2 valores nulos. Analizando dichos registros:

In [19]:
dfs_concat['title'].isnull()
dfs_concat[dfs_concat['title'].isnull() == True ]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
9652,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9871,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN,N

El segundo registro se analiz√≥ en el apartado anterior.

In [20]:
dfs_concat.filter(items=[9651, 9652, 9653], axis=0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
9651,s8202,Movie,The Bad Education Movie,Elliot Hegarty,"Jack Whitehall, Joanna Scanlan, Iain Glen, Eth...",United Kingdom,"December 15, 2018",2015,TV-MA,87 min,Comedies,Britain's most ineffective but caring teacher ...,N
9652,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9653,s8203,Movie,The Bad Kids,"Keith Fulton, Louis Pepe",NaN,United States,"April 1, 2017",2016,TV-MA,101 min,Documentaries,"In this documentary, teachers at a Mojave Dese...",N

Mientras que al ver el registro correspondiente a la posici√≥n 9652, este se puede eliminar ya que no es posible determinar los datos correspondientes a los campos con valores nulos, en base a la poca informaci√≥n que presenta.

Se podr√≠a ver si se repite alg√∫n t√≠tulo

In [21]:
dfs_concat['title'].value_counts().sort_values(ascending=False)

For the Birds         2
Chicken Little        2
Bedtime Stories       2
Liv and Maddie        2
Genius                2
                     ..
Zenda                 1
Zindagi Gulzar Hai    1
Zinzana               1
Zodiac                1
Zubaan                1
Name: title, Length: 10214, dtype: int64

Se presenta la repetici√≥n de t√≠tulos. Para estos casos, es conveniente convertir a min√∫sculas, eliminar espacios y caracteres especiales, para poder obtener todos los t√≠tulos que se repiten. Observando algunos de estos t√≠tulos:

In [22]:
dfs_concat[dfs_concat['title'].isin(['For the Birds', 'Chicken Little', 'Liv and Maddie'])]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
242,s243,TV Show,Liv and Maddie,NaN,"Dove Cameron, Joey Bragg, Tenzing Norgay Train...",United States,"April 23, 2021",2013,TV-G,4 Seasons,"Comedy, Coming of Age, Kids",The series follows 15-year-old twins Liv and M...,DP
789,s790,Movie,Chicken Little,Mark Dindal,"Zach Braff, Garry Marshall, Don Knotts, Patric...",United States,"November 12, 2019",2005,G,84 min,"Animation, Comedy, Disaster","When disaster strikes, Chicken Little hatches ...",DP
896,s897,Movie,For the Birds,Ralph Eggleston,NaN,United States,"November 12, 2019",2001,G,4 min,"Animation, Comedy, Family",Small birds mock a big bird who tries to sit w...,DP
7916,s6467,Movie,Chicken Little,Mark Dindal,"Zach Braff, Joan Cusack, Patrick Stewart, Stev...",United States,"March 16, 2016",2005,G,82 min,"Children & Family Movies, Comedies",No one believes Chicken Little when he tries t...,N
8230,s6781,Movie,For the Birds,Richard Miron,Kathy Murphy,United States,"September 1, 2019",2018,TV-MA,93 min,Documentaries,A woman with a passion for fowl keeps a menage...,N
8771,s7322,TV Show,Liv and Maddie,NaN,"Dove Cameron, Joey Bragg, Tenzing Norgay Train...",United States,"April 23, 2017",2017,TV-G,4 Seasons,"Kids' TV, TV Comedies",After four years in Hollywood as a television ...,N

- "For the Birds": se trata de dos pel√≠culas distintas, con el mismo nombre.
- "Chicken Little": es la misma pel√≠cula que se subi√≥ a ambas plataformas.
- "Liv and Maddie": es la temporada 4 de un programa de televisi√≥n (parece ser el mismo) pero var√≠an los a√±os de estreno.

# Columna "date_added"

In [23]:
dfs_concat['date_added'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10259 entries, 0 to 10258
Series name: date_added
Non-Null Count  Dtype
--------------  -----
10244 non-null  object
dtypes: object(1)
memory usage: 80.3+ KB

In [24]:
dfs_concat['date_added'].isnull().sum()

15

Se observa el registro con los campos nulos:

In [25]:
dfs_concat[dfs_concat['date_added'].isnull() == True]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
1439,s1440,TV Show,Disney Kirby Buckets,NaN,"Jacob Bertrand, Mekai Curtis, Cade Sutton, Oli...",United States,NaN,2014,TV-Y7,3 Seasons,"Action-Adventure, Comedy, Coming of Age",Welcome to Kirby's world! It's rude and sketchy.,DP
1440,s1441,TV Show,Disney Mech-X4,NaN,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",Canada,NaN,2016,TV-Y7,2 Seasons,"Action-Adventure, Comedy, Science Fiction",Ryan discovers his ability to control a giant ...,DP
1441,s1442,TV Show,Imagination Movers,NaN,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",United States,NaN,2008,TV-Y,3 Seasons,"Kids, Music","Rock out with the Imagination Movers, Disney J...",DP
7516,s6067,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",N
7624,s6175,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,United States,NaN,2018,TV-PG,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...,N
8245,s6796,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...,N
8256,s6807,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,N
8351,s6902,TV Show,Gunslinger Girl,NaN,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaN,2008,TV-14,2 Seasons,"Anime Series, Crime TV Shows","On the surface, the Social Welfare Agency appe...",N
8646,s7197,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...,N
8704,s7255,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel √Åv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder...",N
8856,s7407,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",N
9297,s7848,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",N
9632,s8183,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ...",N
9652,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9870,s8420,Movie,The Memphis Belle: A Story of a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

Por otro lado, este campo no es del tipo fecha por lo que es conveniente convertirlo para su posterior utilizaci√≥n. Tener cuidado:

In [27]:
dfs_concat[dfs_concat['release_year'] == '40 min']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
9871,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN,N

Se tiene que resolver primero el problema de los datos corridos en algunos registros, para luego poder hacer dicha conversi√≥n de los datos de la columna a fecha, teniendo cuidado tambi√©n de que no haya caracteres especiales presentes en esta columna. En caso de haberlos, se podr√≠an filtrar utilizando expresiones regulares.

# Columna "release_year"

In [28]:
dfs_concat['release_year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10259 entries, 0 to 10258
Series name: release_year
Non-Null Count  Dtype
--------------  -----
10257 non-null  object
dtypes: object(1)
memory usage: 80.3+ KB

In [29]:
dfs_concat['release_year'].isnull().sum()

2

Se observan los dos valores faltantes:

In [30]:
dfs_concat[dfs_concat['release_year'].isnull() == True]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
9652,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9870,s8420,Movie,The Memphis Belle: A Story of a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

El primer registro ya se analiz√≥, mientras que el segundo registro al tener el t√≠tulo de la pel√≠cula, se podr√≠an completar los datos faltantes buscando la informaci√≥n correspondiente.

Por otra parte, los valores de esta columna no son del tipo num√©ricos. Es conveniente convertirlos. Pero se tiene el siguiente problema (que se vio en el apartado anterior):

In [202]:
dfs_concat['release_year'].value_counts().sample(10)

40 min      1
1993       28
2018       65
2016      902
1967        5
1973        2
2008      136
2004       64
1985       10
1959        5
Name: release_year, dtype: int64

In [203]:
dfs_concat[dfs_concat['release_year'] == '40 min']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
9871,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN,N

Se puede observar que presenta la palabra "min", esto es debido a que se vio que hab√≠an datos corridos en los registros y primero tiene que solucionarse eso.

# Columna "duration"

In [204]:
dfs_concat['duration'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10259 entries, 0 to 10258
Series name: duration
Non-Null Count  Dtype
--------------  -----
10254 non-null  object
dtypes: object(1)
memory usage: 80.3+ KB

In [205]:
dfs_concat['duration'].isnull().sum()

5

In [206]:
dfs_concat[dfs_concat['duration'].isnull() == True]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
6991,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi...",N
7244,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...,N
7263,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...,N
9652,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9870,s8420,Movie,The Memphis Belle: A Story of a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

El registro 9652 ya se trat√≥ (tiene que eliminarse). Para el registro 9870 podr√≠a obtenerse la informaci√≥n faltante a trav√©s del t√≠tulo de la pel√≠cula. Mientras que para la columna "rating" de los restantes registros, se puede ver que sus valores son err√≥neos y que corresponden a la columna "duration", por lo tanto tiene que resolverse antes esta desviaci√≥n de datos en ambas columnas.

In [207]:
dfs_concat['duration'].value_counts()

1 Season      2012
2 Seasons      507
3 Seasons      244
90 min         179
94 min         174
              ...
237 min          1
17 Seasons       1
253 min          1
208 min          1
191 min          1
Name: duration, Length: 231, dtype: int64

Se puede ver que el tipo de dato no es num√©rico, por lo que ser√° necesario convertir la columna para poder trabajar con los datos. A tener en cuenta:

In [269]:
dfs_concat[dfs_concat['release_year'] == '40 min']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN,N

Como se analiz√≥ anteriormente, hay registros que presentan datos corridos. Por lo tanto, primero se tiene que solucionar esto, para luego, mediante el uso de expresiones regulares quitar la palabras "min", "Season" y "Seasons" y, castear los datos a un valor entero. Debido a esto, al realizar la transformaci√≥n anterior, hay que recordar que: cuando se tiene una pel√≠cula, el dato es la duraci√≥n en minutos y, cuando se tiene un programa de televisi√≥n, el valor es la cantidad de temporadas.

## Columna "cast"

In [208]:
dfs_concat['cast'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10259 entries, 0 to 10258
Series name: cast
Non-Null Count  Dtype
--------------  -----
9243 non-null   object
dtypes: object(1)
memory usage: 80.3+ KB

In [209]:
dfs_concat['cast'].isnull().sum()

1016

Se puede observar que faltan datos y esta columna es muy importante para el modelado de datos posterior.

In [210]:
dfs_concat[dfs_concat['cast'].isnull() == True]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
11,s12,Movie,Puppy for Hanukkah,NaN,NaN,NaN,"November 19, 2021",2020,TV-G,4 min,"Comedy, Family, Music","Check out Daveed Digg's official music video ""...",DP
15,s16,Movie,Baymax!,NaN,NaN,NaN,"November 12, 2021",2021,TV-G,1 min,Animation,‚ÄúBaymax!‚Äù premieres on Disney+ summer 2022.,DP
26,s27,Movie,Marvel Studios‚Äô 2021 Disney+ Day Special,NaN,NaN,NaN,"November 12, 2021",2021,TV-PG,14 min,Movies,Marvel Studios‚Äô Disney+ Day Special explores t...,DP
27,s28,Movie,Obi-Wan Kenobi,NaN,NaN,NaN,"November 12, 2021",2021,TV-PG,1 min,"Action-Adventure, Science Fiction","A behind the scenes look of the ""Obi-Wan Kenob...",DP
35,s36,Movie,The Little Matchgirl,Roger Allers,NaN,United States,"November 12, 2021",2006,G,7 min,"Animation, Drama",A poor matchgirl sees happy images in the flam...,DP
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10198,s8747,Movie,Winnie,Pascale Lamche,NaN,"France, Netherlands, South Africa, Finland","February 26, 2018",2017,TV-14,85 min,"Documentaries, International Movies",Winnie Mandela speaks about her extraordinary ...,N
10207,s8756,TV Show,Women Behind Bars,NaN,NaN,United States,"November 1, 2016",2010,TV-14,3 Seasons,"Crime TV Shows, Docuseries",This reality series recounts true stories of w...,N
10208,s8757,Movie,Woodstock,Barak Goodman,NaN,United States,"August 13, 2019",2019,TV-MA,97 min,"Documentaries, Music & Musicals",For the 50th anniversary of the legendary Wood...,N
10215,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...,N
10255,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",N

Hay que recordar que primero se deben solucionar los corrimientos presentes en algunos registros que tambi√©n afectan a esta columna. Observando r√°pidamente se podr√≠an completar ciertos valores faltantes teniendo en cuenta la columna "title", pero ser√≠a un trabajo manual.

Para analizar esta columna, al tratarse de una cadena de caracteres, se la trabajar√° un poco (Recordar: a la columna se la trabajar√° sin haber solucionado el incoveniente de los corrimientos, solo para profundizar un poco m√°s el an√°lisis y que quede registrado qu√© pasos deber√≠an seguirse):

In [211]:
dfs_concat['cast'] = (dfs_concat.cast.str.split(','))
dfs_concat = dfs_concat.explode('cast')

In [212]:
dfs_concat.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson",Chris Diamantopoulos,NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,DP
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson",Tony Anselmo,NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,DP
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson",Tress MacNeille,NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,DP
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson",Bill Farmer,NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,DP
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson",Russi Taylor,NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,DP
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson",Corey Burton,NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,DP
1,s2,Movie,Ernest Saves Christmas,John Cherry,Jim Varney,NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,DP
1,s2,Movie,Ernest Saves Christmas,John Cherry,Noelle Parker,NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,DP
1,s2,Movie,Ernest Saves Christmas,John Cherry,Douglas Seale,NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,DP
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,Raymond Albert Romano,United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,DP

Como se observa, se separ√≥ cada actor por fila.

Se determina si hay datos que se repiten:

In [214]:
dfs_concat['cast'].value_counts()

 Anupam Kher              40
 Jim Cummings             33
 Rupa Bhimani             31
 Takahiro Sakurai         30
 Julie Tejwani            28
                          ..
Jessica Sula               1
 Mark Cassius              1
 Colin Paradine            1
 Terri Oliver              1
 Chittaranjan Tripathy     1
Name: cast, Length: 41707, dtype: int64

Como se puede observar, hay datos que se repiten. Lo conveniente ser√≠a convertir los datos a min√∫sculas, quitar espacios y caracteres especiales, para obtener la cantidad de veces que se repite cada actor.

# Idiomas

Con el an√°lisis previo se vio que la columna "title" tiene presente m√°s de un idioma. Por ejemplo: se vio para la pel√≠cula "Esperando la carroza", varios t√≠tulos son en ingl√©s como as√≠ se encontr√≥ tambi√©n un t√≠tulo en coreano.

In [218]:
dfs_concat[dfs_concat['title'] == 'ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
8558,s7109,Movie,ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù,Young Jun Lee,Um Sang-hyun,NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",N
8558,s7109,Movie,ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù,Young Jun Lee,Yang Jeong-hwa,NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",N
8558,s7109,Movie,ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù,Young Jun Lee,Jeon Tae-yeol,NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",N
8558,s7109,Movie,ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù,Young Jun Lee,Shin Yong-woo,NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",N
8558,s7109,Movie,ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù,Young Jun Lee,Lee So-young,NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",N
8558,s7109,Movie,ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù,Young Jun Lee,So-yeon,NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",N

# Conclusi√≥n

La columna "title" presenta al menos tres idiomas.

Transformaciones para aplicar al dataset:
- Solucionar los desviamientos de datos en determinados registros, ya sea un desviamiento completo que afecta a todas las columnas como as√≠ tambi√©n los desviamientos parciales, como se vio por ejemplo, que afectaban a dos columnas en donde la informaci√≥n estaba intercambiada.
- Determinar si se puede completar datos faltantes en columnas a partir de la informaci√≥n presente en otra/s columna/s. De no ser as√≠, y no contar con informaci√≥n suficiente, eliminar el registro ya que, no aporta informaci√≥n √∫til.
- En columnas como "title" y "description" convertir a min√∫sculas y quitar espacios y caracteres especiales.
- En la columna "cast", separar cada actor teniendo en cuenta como separador la coma para despu√©s mediante la funci√≥n explode() de Pandas poder separarlos por fila. Convertir a min√∫sculas y, quitar espacios y caracteres especiales.
- La columna "date_added" tiene que convertirse a un formato del tipo fecha para poder utilizarla.
- Las columnas "release_year" y "duration" tienen que convertirse a un formato num√©rico, teniendo en cuenta que a los valores correspondientes a la columna "duration" hay que eliminar antes de la conversi√≥n, las palabras "min", "Season" y "Seasons" (recordando que el valor final corresponde a la duraci√≥n en minutos si se trata de una pel√≠cula o a la cantidad de temporadas si es un programa de televisi√≥n).
- Eliminar registros duplicados.